<DOCTYPE! html>
<html>
    <head>
    </head>

    <body>
    <div>
        <h1>Tenant Info</h1>
     <p>Current Tenant: <%=@tenant.name%></p>
     <p>Current Address: <% if @tenant.apartment != nil %>
     <%=@tenant.apartment.address%>
     <%end%></p>
     
     
    </div>
    <div>
        <form method="POST" action="/edit_tenant/<%= @tenant.id %>">
            <p>New name: <input type="text" value="<%=@tenant.name%>"name="tenant_name"></p>
            <p>New address: <select name= "apartment_address"> 
                <% @apartments.each do |apartment| %>
               <option value = "<%=apartment.id%>" ><%= apartment.address%></option></p>
               <%end%></select>
            <input type="submit">
         

        </form>
    </div>
    <div>
    <p> Remote this tenant from existence: </p>
    <form method="POST" action="/edit_tenant/<%= @tenant.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Destroy">
    </div>
    </body>
</html>
